body {
  margin: 10px;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  text-align: right;
  letter-spacing: -2px;
  color: #d0d0d0;
  margin: 20px 0px;
}

p {
  margin: 0px;
  color: #666;
  font-size: 16px;
}
